.header {
    padding: 60px;
    text-align: center;
    background: #e4c3e9;
    color: white;
    font-size: 30px;
}

.content {
    padding:20px;
    color: rgb(75, 73, 73);
}

.onvan{
    text-align: center;
    color: black;
    font-family:'Times New Roman', Times, serif;
}